@import "~bootstrap/scss/bootstrap";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

.wholePage {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	.wholeApp {
		max-width: 40rem;
		margin: auto;
		border-radius: 0.4rem;
		background-color: white;
		border: solid black 0.15rem;
		text-align: center;
		overflow: hidden;
	}
}

.page-container {
	margin: auto;
}

.buttonContainer {
	display: flex;
	justify-content: flex-end;
	margin: 2.2rem;
}

.addButton {
	i {
		font-size: 1.6rem;
	}
}
